#############################################################
# This is a .gitignore file was  created by Akshay L Aradhya
#############################################################

*.ico
*.ini
*.exe
*.obj
!AFDEBUG.EXE
!LINK.EXE
!MASM.EXE

